body{
  color: black;
}

#home {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}


.fa-angle-down{
  font-size: 70px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-content{
  text-align:center;
  width: 70%;
  height: 100%;
  padding-top: 200px;
  margin: 0 15% 0 15%;
  p {
    margin-top: 1.5em;
    text-transform: uppercase;
    font-family: $peace-font;
  }
}

.main-container{
  position: relative;
  height:100%;
  width: 100%;
}
// MAP

.map-container{
  text-align: center;
  z-index: -1;
}

.container-figures{
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
  margin: 0 15% 0 15%;
}

.num-design{
  font-family: $peace-font;
}

.txt-design{
  font-family: $lilita-font;
}

.color-green{
  color: $green;
}

.color-black{
  color: black;
}
// HEADER

#map-figures {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 15px;
}

#human-logo{
  font-size: 40px;
  padding-top: 25px;
}

.human-flex{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#woman{
  color: $green;
}

#man{
  color: black;
}

// FOOTER

#map-footer{
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


// PAGE 2
//
.yellow-square{
  height: 50vh;
  margin: 0;
  padding: 0;
  background-color: $yellow;
  color: $yellow;
  &:hover{
    background-color: black;
    a {
      color: $yellow;
    }
  }
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
  }
}

.green-square{
  background-color: $green;
  height: 50vh;
  color: white;
  padding: 30px;
}

.container-custo{
  margin: 0;
  padding:0 15% 0 15%;
  width: 100%;
}
.card-content{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 35px;
}

.icon-play {
    position: absolute;
    top: 120px;
    font-size: 125px;
}

#crew{
  text-align: center;
  width: 70%;
  height: 100%;
  margin: 0 15% 0 15%;
  h1{
    font-family: $peace-font;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  div{
    padding-top: 20px;
  }

  img {
    border-radius: 50%;
  }
  p{
    padding-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
