// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Lilita+One|Montserrat:300,400,500,600,700,800");

// Define fonts for body and headers
$body-font: "AvenirLight", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$lilita-font: "Lilita One", "cursive";
$montserrat-font: 'Montserrat', "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
//

@font-face {
    font-family: 'PeaceSansWebfont';
    src: url('fonts/PeaceSansWebfont.eot');
    src: url('fonts/PeaceSansWebfont.eot') format('embedded-opentype'),
         url('fonts/PeaceSansWebfont.woff2') format('woff2'),
         url('fonts/PeaceSansWebfont.woff') format('woff'),
         url('fonts/PeaceSansWebfont.ttf') format('truetype'),
         url('fonts/PeaceSansWebfont.svg#PeaceSansWebfont') format('svg');
}
$peace-font: "PeaceSansWebfont";

@font-face {
    font-family: 'AvenirBlack';
    src: url('fonts/AvenirBlack.eot');
    src: url('fonts/AvenirBlack.eot') format('embedded-opentype'),
         url('fonts/AvenirBlack.woff2') format('woff2'),
         url('fonts/AvenirBlack.woff') format('woff'),
         url('fonts/AvenirBlack.ttf') format('truetype'),
         url('fonts/AvenirBlack.svg#AvenirBlack') format('svg');
}

@font-face {
    font-family: 'AvenirLight';
    src: url('fonts/AvenirLight.eot');
    src: url('fonts/AvenirLight.eot') format('embedded-opentype'),
         url('fonts/AvenirLight.woff2') format('woff2'),
         url('fonts/AvenirLight.woff') format('woff'),
         url('fonts/AvenirLight.ttf') format('truetype'),
         url('fonts/AvenirLight.svg#AvenirLight') format('svg');
}

@font-face {
    font-family: 'AvenirMedium';
    src: url('fonts/AvenirMedium.eot');
    src: url('fonts/AvenirMedium.eot') format('embedded-opentype'),
         url('fonts/AvenirMedium.woff2') format('woff2'),
         url('fonts/AvenirMedium.woff') format('woff'),
         url('fonts/AvenirMedium.ttf') format('truetype'),
         url('fonts/AvenirMedium.svg#AvenirMedium') format('svg');
}

@font-face {
    font-family: 'AvenirBook';
    src: url('fonts/AvenirBook.eot');
    src: url('fonts/AvenirBook.eot') format('embedded-opentype'),
         url('fonts/AvenirBook.woff2') format('woff2'),
         url('fonts/AvenirBook.woff') format('woff'),
         url('fonts/AvenirBook.ttf') format('truetype'),
         url('fonts/AvenirBook.svg#AvenirBook') format('svg');
}

.font-xxxl{
  font-size:100px;
}

.font-xxl{
  font-size:75px;
}

.font-xl{
  font-size: 60px;
}

.font-l{
  font-size: 50px;
}

.font-m{
  font-size: 40px;
}

.font-s{
  font-size: 25px;
}

.font-xs{
  font-size: 20px;
}
