<div class="container box">
<div class="row">
  <div class="col-xs-12 col-sm-4 white-square text-center">
    <a href="https://www.meetup.com/fr-FR/Le-Wagon-Montreal/" target="_blank">
      <div class="card-content">
        <div class="txt-design font-xxl">40</div>
        <p class="font-xs card-padding">free events organized : <strong>coding workshops  </strong>, <strong>Wagon Talk</strong> and <strong>DemoDay</strong>.</p>
         <i class="fab fa-meetup font-xl icon-custom color-white"></i>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 green-square text-center">
    <a href="https://www.facebook.com/lewagonmontreal/" target="_blank">
      <div class="card-content">
        <div class="txt-design font-xxl">824</div>
        <p class="font-xs card-padding">suscribers on Facebook</p>
        <i class="fab fa-facebook-f font-xl icon-custom color-green"></i>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 white-square text-center">
    <a href="https://www.instagram.com/lewagonmontreal/" target="_blank">
      <div class="card-content">
        <div class="txt-design font-xxl">1,800</div>
        <p class="font-s card-padding">participants in our Meetups</p>
        <i class="fab fa-instagram font-xl icon-custom color-white"></i>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 green-square text-center">
    <a href="https://www.youtube.com/watch?v=DKCfNe6knS0&list=PLkbmdtbypn7QGNCcv5Y7Ylsmg-Ydqn5WU" target="_blank">
      <div class="card-content">
        <div class="txt-design font-xxl">21k</div>
        <p class="font-xs card-padding">videos viewed on our social media</p>
        <i class="fab fa-youtube font-xl icon-custom color-green"></i>
      </div>
    </a>
  </div>
   <div class="col-xs-12 col-sm-4 white-square text-center">
    <a href="https://twitter.com/lewagonmontreal" target="_blank">
      <div class="card-content">
        <div class="txt-design font-xxl">820</div>
        <p class="font-xs card-padding">tweets published</p>
        <i class="fab fa-twitter font-xl icon-custom color-white"></i>
      </div>
    </a>
  </div>
   <div class="col-xs-12 col-sm-4 green-square text-center">
    <a href="http://www.startupcommunityawards.com/" target="_blank">
      <div class="card-content">
        <div class="txt-design font-xxl">2</div>
        <p class="font-xs card-padding">nominations at Startup Community Awards</p>
        <i class="fas fa-heart font-xl icon-custom color-green"></i>
      </div>
    </a>
  </div>
</div>
</div>
