<div class="container box">
<div class="row">
  <div class="col-xs-12 col-sm-4 yellow-square text-center">
    <a href="https://www.meetup.com/fr-FR/Le-Wagon-Montreal/" target="_blank">
      <!-- <div class="card-content">
        <i class="far fa-calendar-check font-xxxl"></i>
      </div> -->
      <div class="txt-design font-xxl">40</div>
      <p class="font-s card-padding">More than 40 free events organized : <strong>coding workshops</strong>, <strong>Wagon Talk</strong> and <strong>DemoDay</strong>.</p>
      <i class="fab fa-meetup font-xxl pulse"></i>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 green-square text-center">
    <div class="txt-design font-xxl">1,800</div>
    <p class="font-s card-padding">participants in our events</p>
    <!-- <i class="fas fa-laptop font-xxxl"></i> -->
  </div>
  <div class="col-xs-12 col-sm-4 yellow-square text-center">
    <div class="txt-design font-xxl">1,050</div>
    <p class="font-s card-padding">members in our Meetup group</p>
    <!-- <i class="fas fa-users font-xxxl"></i> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 green-square text-center">
    <div class="txt-design font-xxl">21k</div>
    <p class="font-s card-padding">videos viewed on our social media</p>
    <i class="fab fa-facebook-square font-xxl pulse"></i>
    <!-- <i class="far fa-play-circle font-xxxl icon-play"></i> -->
  </div>
   <div class="col-xs-12 col-sm-4 yellow-square text-center">
    <div class="txt-design font-xxl">800</div>
    <p class="font-s card-padding">tweets published and followers on Facebook videos viewed on our social media</p>
    <a href="https://www.meetup.com/fr-FR/Le-Wagon-Montreal/" target="_blank">
      <i class="fab fa-twitter-square font-xxl pulse"></i>
    </a>
  </div>
   <div class="col-xs-12 col-sm-4 green-square text-center">
      <div class="txt-design font-xxl">2</div>
      <p class="font-s card-padding">nominations at Startup Community Awards</p>
  </div>
</div>
</div>
