<div id="map-footer">
  <div class="num-design color-green font-m">
    <span id="batchs">3</span> <span class="txt-design color-black font-s">BATCHES</span>
  </div>
  <div class="num-design color-green font-m">
  <span id="hours">1000</span> <span class="txt-design color-black font-s">HOURS OF CODE</span>
  </div>
  <div class="num-design color-green font-m">
    <span id="apps">13</span> <span class="txt-design color-black font-s">APPS CODED</span>
  </div>
</div>
