<div class="container map-container box" style="background-image: url('images/LWMTL-Worldwide.svg');">

  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <h1 id="fun-level" class="color-green num-design font-xxl">0</h1>
      <span class="txt-design font-l">STUDENTS</span>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-3">
      <div id="human-logo">
        <div id="woman" class="human-flex">
          <% 10.times do %>
            <i class="fas fa-female"></i>
          <% end %>
        </div>
        <% 3.times do %>
          <div class="man human-flex">
            <% 10.times do %>
              <i class="fas fa-male"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center container-figures">
    <div class="col-xs-12 col-sm-4">
        <h1 id="batchs" class="num-design color-green font-l">3</h1>
        <span class="txt-design color-black font-s">BATCHES</span>
    </div>
  <div class="col-xs-12 col-sm-4">
        <h1 id="hours" class="num-design color-green font-l">1000</h1>
        <span class="txt-design color-black font-s">HOURS OF CODE</span>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h1 id="apps" class="num-design color-green font-l">13</h1>
      <span class="txt-design color-black font-s">APPS CODED</span>
    </div>
  </div>
</div>
