<div id="map-figures">
  <div class="num-design font-xxl">
    <span id="fun-level" class="color-green">0</span> <span class="txt-design font-l">STUDENTS</span>
  </div>
  <div id="human-logo">
    <div id="woman" class="human-flex">
      <% 10.times do %>
        <i class="fas fa-female"></i>
      <% end %>
    </div>
    <% 3.times do %>
      <div class="man human-flex">
        <% 10.times do %>
          <i class="fas fa-male"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

