---
title: Le Wagon - Middleman
---

<div id="fullpage">
  <div class="section  ">
    <div class="posts-index">
      <div class="home-content">
        <p class="font-l">One year after we launch</p>
        <%= image_tag "logo_mtl_black.png", width: "320px" %>
      </div>
    </div>
  </div>
  <div class="section ">
    <%= partial "map" %>
  </div>
  <div class="section ">
   <%= partial "infographie" %>
  </div>
  <div class="section ">
     <%= partial "crew" %>
  </div>
</div>
