---
title: One Year after we launch Le Wagon Montréal
---

<div id="fullpage">
  <div class="section">
    <div class="posts-index">
      <div class="home-content">
        <p class="font-l">One year after we launch</p>
        <%= image_tag "logo_mtl_transparent.png", width: "420px" %>
      </div>
    </div>
  </div>
  <div class="section">
    <%= partial "map" %>
  </div>
  <div class="section">
     <%= partial "crew" %>
  </div>
  <div class="section"  >
    <%= partial "infographie" %>
  </div>

  <div class="section fp-auto-height-responsive" >
    <div class="video container box" style="position: relative;">
      <div class="title-video">
        <h1>Experience Le Wagon Montréal</h1>
        <div class="posts-video"></div>
      </div>
      <div class="video-wrapper">
          <div class="js-plyr" data-video-id="RODFbVCmnk4"data-type="youtube"></div>
      </div>
    </div>
  </div>
  <div class="section fp-auto-height" id="section2">
    <div class="intro footer">
        <ul class="list-inline">
          <li><a href="https://www.meetup.com/fr-FR/Le-Wagon-Montreal/" target="_blank"><i class="fab fa-meetup"></i></a></li>
          <li><a href="https://www.facebook.com/lewagonmontreal/" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/lewagonmontreal" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=DKCfNe6knS0&list=PLkbmdtbypn7QGNCcv5Y7Ylsmg-Ydqn5WU" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/lewagonmontreal/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://medium.com/@lewagonmontreal" target="_blank"><i class="fab fa-medium"></i></a></li>
        </ul>
        <p>Change your life : <strong style="box-shadow: inset 0px -12px #D23333;"><a href="https://www.lewagon.com/montreal" target="_blank">Learn to code</a></strong></p>
    </div>
    </div>
</div>
